*data
*ckpt*
*tfrecord*
*.pyc
*.swp
main.py
logs
models
models_*
automl_output_*
.pylint_results
start_multi.sh
ratio.list
path.conf
nvidia-smi-dump
ssd_outputs
dump
# compilation and distribution
*ckpt*
*log*
*rar
*.gif
*tfevents*
*_pycache*
*tflite*
*tar*


*.jpg
*.png
*.weights
*.h5
logs/
*_test.py
VOCdevkit
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# MacOS
.DS_Store

# project dirs
/datasets
/models
/output
